body {
    width:98%;
    margin: auto;
}

a:hover {
	font-size: 18px;
	font-family: Helvetica;
    color: #4258AC;
    text-decoration: none;
}
.header{
	background: #dcd9d9;
	height: 45px;
}
.header .form, .page{
	margin-top: 4px;
}
.header .page{ margin-top: 8px; }

.carousel-inner > .item > img,
.carousel-inner > .item > img {
  max-height: 500px;    /* Set slide height here */
}

#banner {
    -ms-flex-align: center;
    -ms-flex-pack: center;
    background-color: #111111;
    color: rgba(255, 255, 255, 0.5);
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    /* background-image: url("../img/banner.jpg"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 0;
    display: -ms-flexbox;
    height: 35rem !important;
    min-height: 35rem;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
}

#banner video {
    min-height: 100%;
    min-width: 100%;
    overflow: hidden;
    height: auto;
    width: auto;
    /* background-color: #c5111186; */
    /* background-color: #4258AC */
    opacity: 0.45;
}

#banner:before {
    -moz-transition: opacity 3s ease;
    -webkit-transition: opacity 3s ease;
    -ms-transition: opacity 3s ease;
    transition: opacity 3s ease;
    -moz-transition-delay: 1.25s;
    -webkit-transition-delay: 1.25s;
    -ms-transition-delay: 1.25s;
    transition-delay: 1.25s;
    background: #111111;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.45;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

#banner:after {
    background: linear-gradient(135deg, #ce1b28 0%, #111111 74%);
    content: ' ';
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}


@media screen and (max-width: 995px) {
    .modal-dialog {
        max-width: 500px;
        width: auto;
    }
    #carousel {
    	margin-top: 80px;
    }
}

@media screen and (max-width: 768px) {
    .modal-dialog {
        max-width: 500px;
        width: auto;
    }
    #carousel {
    	margin-top: 180px;
    }
    #search .description {
        display: none;
    }
    #search button {
        margin-top: -14px;
        align-content: center; 
    } 
}